
<h3 class="text-center">Pipes de fechas</h3>
<hr>
<div><b> Fecha medium</b>{{ hoy | date: 'medium'}}</div>
<p><b>Fecha corta:</b> {{ hoy | date:'short' }}</p>
<p><b>Fecha media:</b> {{ hoy | date:'medium' }}</p>
<p><b>Fecha larga:</b> {{ hoy | date:'long' }}</p>
<p><b>Fecha completa:</b> {{ hoy | date:'full' }}</p>
<p><b>Fecha corta (solo fecha):</b> {{hoy | date:'shortDate' }}</p>
<p><b>Fecha media (solo fecha):</b> {{ hoy | date:'mediumDate' }}</p>
<p><b>Fecha larga (solo fecha):</b> {{ hoy | date:'longDate' }}</p>
<p><b>Fecha completa (solo fecha):</b> {{ hoy | date:'fullDate' }}</p>
<p><b>Hora corta:</b> {{ hoy | date:'shortTime' }}</p>
<p><b>Hora media:</b> {{ hoy | date:'mediumTime' }}</p>
<p><b>Hora larga:</b> {{ hoy | date:'longTime' }}</p>
<p><b>Hora completa:</b> {{ hoy | date:'fullTime' }}</p>
